{:paths   ["src" "resources"]
 :deps    {org.clojure/clojurescript {:mvn/version "1.10.516"}
           cljsjs/material-ui        {:mvn/version "4.5.1-0"}
           cljsjs/material-ui-icons  {:mvn/version "4.4.1-0"}
           qlkit-renderer {:local/root "../qlkit-renderer"}
           qlkit {:local/root "../qlkit"}}}
